.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    min-height: 512px;
    min-width: 512px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
}

.grid-item {
    border: 1px solid black;
    background-color: white;
}

.grid-item-colored {
    border: 1px solid black;
    background-color: red;
}
