* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'VT323', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/ms-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    height: 720px;
    width: 900px;
    background-color: #c1c1c1;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 10px 2px #000000;
    border-radius: 2px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 3px;
    background-color: #020182;
    border-radius: 2px;
}

.title-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
    width: auto;
    margin-left: 5px;
    margin-right: 10px;
}

.title {
    font-size: 20px;
    color: #ffffff;
}

.exit {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.paint-container {
    display: flex;
    height: 560px;
    margin: 0px 3px 3px 3px;
    box-shadow: inset -1px -1px 2px #1e1e1e;
}

.tools-container {
    display: flex;
    min-width: 320px;
    padding: 20px;
    gap: 10px;
}

.all-tools {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
}

.menu-item {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 12px;
    border-top: 2px solid #e7e7e7;
    border-right: 2px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
    border-left: 2px solid #e7e7e7;
}

.menu-item:hover {
    color: red;
}

.input-box {
    width: 50px;
    height: 20px;
    background: #ffffff;
    padding: 10px 0px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
  }
  
.tools {
    height: 100px;
    width: 100px;
    border-top: 2px solid #e7e7e7;
    border-right: 2px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
    border-left: 2px solid #e7e7e7;
    box-shadow: 0px 0px 3px 0px #1e1e1e;
    cursor: pointer;
}

.tools:hover {
    border: 2px solid red;
}

.color-container {
    height: 100px;
    margin: 0px 3px 3px 3px;
    box-shadow: inset -1px -1px 2px #1e1e1e;
}

.canvas-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.canvas {
    height: 512px;
    width: 512px;
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    background: #1e1e1e;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.welcome-message {
    color: #c1c1c1;
    font-size: 48px;
    text-align: center;
}

.howto {
    color: #c1c1c1;
    text-align: center;
    font-size: 20px;
    padding: 35px;
}

.toggle-grid {
    gap: 1px;
}

.grid-item {
    background-color: #ffffff;
}

.grid-item-colored {
    background-color: #000000;
}

.color-container {
    display: flex;
}

.color-picker-container {
    padding: 10px;
}

.color-picker {
    height: 80px;
    width: 80px;
}

.preset-colors {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr, 1fr;
    padding: 10px;
}

.preset {
    cursor: pointer;
}

.color-1 {
    background-color: #000000;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-2 {
    background-color: #7f7f7f;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-3 {
    background-color: #800203;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-4 {
    background-color: #7e8005;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-5 {
    background-color: #018003;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-6 {
    background-color: #108472;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-7 {
    background-color: #020182;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-8 {
    background-color: #810181;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-9 {
    background-color: #7f7f3f;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-10 {
    background-color: #063e40;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-11 {
    background-color: #027efc;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-12 {
    background-color: #024080;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-13 {
    background-color: #4001fc;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-14 {
    background-color: #7e4005;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-15 {
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-16 {
    background-color: #c1bfc3;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-17 {
    background-color: #fb0304;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-18 {
    background-color: #fefe04;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-19 {
    background-color: #02fd02;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-20 {
    background-color: #04fcfc;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-21 {
    background-color: #0201fa;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-22 {
    background-color: #ff01fd;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-23 {
    background-color: #fcfd83;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-24 {
    background-color: #02fe81;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-25 {
    background-color: #81fdfc;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-26 {
    background-color: #817dfd;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-27 {
    background-color: #fc0180;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}

.color-28 {
    background-color: #fc8044;
    height: 40px;
    width: 40px;
    border-top: 2px solid #1e1e1e;
    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #1e1e1e;
}